body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city-input {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
}

.weather-section {
    margin-bottom: 20px;
}

.weather-section h2 {
    margin-bottom: 10px;
}

.weather-details, .forecast-details {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#search-history button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-history button:hover {
    background-color: #0056b3;
}
